@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img{
    width: 150px;
    height: auto;
}
.center-nav {
    display: flex;

}
.search {
    display: flex;
    
}
.search input{
    min-width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
}
.search button{
    border: none;
    padding: 10px 20px;
}
.mic {
    padding: 15px;
    background-color: #eae9e9;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-left: 15px;

}
.mic img{
    width: 30px;
}
.side-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;

}
.tags{
    min-width: 200px;
    border-top: 1px solid #ccc;
}
/* Tags */ 
.button-group {
    margin: 5px 5px;
  }
  
  .button-group input[type="radio"] {
    display: none;
  }
  
  .button-group label {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #ccc;
    color: black;
    border-radius: 15px;
    transition: all ease 0.2s;
    text-align: center;
    flex-basis: 0;
    font-weight: 500;
    width: 90px;
    font-size: 18px;
    margin: 5px;
    box-shadow: 0px 0px 50px -15px #000000;
  }
  
  .button-group input[type="radio"]:checked + label {
    background-color: black;
    color: white;
    border: 1px solid #2b426d;
  }
  
  fieldset {
    /* border-top: 1px solid #ccc; */
    border: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 50px;
    height: auto;
  }
  
.container{
    display: flex;

}
aside{
    /* position: sticky; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.side-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.side-icons img{
    width: 30px;
}
.side-icons p{
    font-size: 10px;
    margin-top: -5px;
}
.bars{
    margin-top: 20px;
}
.main-container{
    width: 100%;
}
main{
    min-height: 100vh;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.card{
    padding: 10px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
}
.avatar-content{
    padding-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.card h3{
    font-size: 20px;
}
.content{
    /* margin-left: -50px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.channel-name{
    font-size: 16px;
    font-weight: bold;
    color: #606060;
}
.content-status{
    display: flex;
    font-size: 16px;
    gap: 10px;
    color: #606060;

}
.card img{
    border-radius: 3%;
}
